* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background-color: #0F0F0F;
}

body._lock {
  overflow: hidden;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid;
  width: 120px;
  height: 1px;
  margin: 0 auto;
}

.button {
  padding: 12px 28px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.watch__box {
  font-family: "Playfair Display", serif;
}

.watch__box:hover p {
  text-decoration: underline;
}

.watch__box-bg {
  background-color: #191B1C;
  max-width: 260px;
  max-height: 325px;
  height: 100%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watch__box-bg img {
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  -o-transition: transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30.5px 0px;
}

.watch__box-brand {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.watch__box-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #969696;
}

.header-main-line {
  background-color: #000000;
}

.header-body-line {
  background-color: #0F0F0F;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 16px;
  padding: 14px 0;
}

.header-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__phone img {
  margin-right: 15px;
}

.header-main__phone:hover {
  text-decoration: underline;
}

.header-main__work {
  margin-left: 15px;
}

.header-main__work::after {
  content: "";
  border-right: 1px solid #969696;
  padding-left: 15px;
}

.header-main__work::before {
  content: "";
  border-left: 1px solid #969696;
  padding-left: 15px;
}

.header-main__time {
  margin-left: 15px;
}

.header-main__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__control a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__control:hover {
  text-decoration: underline;
}

.header-main__logout {
  margin-right: 20px;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header-body__logo {
  z-index: 5;
}

.header-body__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-body__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-body__item {
  padding: 29px 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-body__item:hover {
  background-color: #1F1F1F;
  color: #ffffff;
}

.header-body__icons {
  margin-left: 12px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-body__basket {
  margin-right: 40px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-body__basket:hover {
  border-color: #ffffff;
}

.menu__icon {
  display: none;
}

.main-mobile {
  display: none;
}

.search {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #0F0F0F;
  border-radius: 60px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.search .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #0F0F0F;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.search .icon:hover {
  border-color: #ffffff;
}

.search.active {
  width: 180px;
}

.search.active .input input {
  background-color: #ffffff;
}

.search.active .input input::-webkit-input-placeholder {
  color: #969696;
}

.search.active .input input::-moz-placeholder {
  color: #969696;
}

.search.active .input input:-ms-input-placeholder {
  color: #969696;
}

.search.active .input input::-ms-input-placeholder {
  color: #969696;
}

.search.active .input input::placeholder {
  color: #969696;
}

.search .input {
  position: relative;
  width: 180px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  font-size: 16px;
  padding: 10px 43px 10px 15px;
  background-color: #0F0F0F;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.search .input input::-webkit-input-placeholder {
  color: #0F0F0F;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search .input input::-moz-placeholder {
  color: #0F0F0F;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.search .input input:-ms-input-placeholder {
  color: #0F0F0F;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.search .input input::-ms-input-placeholder {
  color: #0F0F0F;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.search .input input::placeholder {
  color: #0F0F0F;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__bg {
  background-image: url("../img/bg-lastPage.jpg");
  background-position: center;
  background-size: cover;
}

.footer__black-bg {
  background-color: #0F0F0F;
}

.footer__holder {
  padding: 80px 0px 65px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.footer__box {
  max-width: 351px;
}

.footer__box-title {
  font-family: "Playfair Display";
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.footer__box-text {
  line-height: 150%;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
}

.footer__link {
  padding: 10px 20px;
  background-color: #0F0F0F;
  line-height: 150%;
  color: #D0D0D0;
  display: inline-block;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  border: 1px solid transparent;
  text-transform: lowercase;
}

.footer__link:hover {
  border-color: #ffffff;
}

.footer__form {
  margin-top: 25px;
  text-align: center;
}

.footer__form-email {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 210px;
  width: 100%;
  color: #ffffff;
}

.footer__form-email::-webkit-input-placeholder {
  color: #D0D0D0;
}

.footer__form-email::-moz-placeholder {
  color: #D0D0D0;
}

.footer__form-email:-ms-input-placeholder {
  color: #D0D0D0;
}

.footer__form-email::-ms-input-placeholder {
  color: #D0D0D0;
}

.footer__form-email::placeholder {
  color: #D0D0D0;
}

.footer__form-btn {
  padding: 10px 20px;
  background-color: #0F0F0F;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  border: 1px solid transparent;
}

.footer__form-btn:hover {
  border-color: #ffffff;
}

.footer__line {
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__line-agreement {
  text-decoration-line: underline;
}

.picture {
  margin-top: 124px;
  position: relative;
}

.shop {
  background-image: url("../img/bg-firstPage.jpg");
  background-position: center;
  background-size: cover;
  height: 810px;
}

.shop__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  z-index: 2;
}

.shop__big-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #ffffff;
  padding: 104px 58px;
  margin-bottom: 80px;
}

.shop__big-logo img {
  max-width: 185px;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 12px;
  border-bottom: 2px solid #ffffff;
}

.shop__big-logo p {
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.shop__descr {
  max-width: 730px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.collection {
  background-color: #000000;
}

.collection-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.collection-first__watch {
  max-width: 1040px;
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-first__watch h2 {
  margin-bottom: 50px;
}

.collection-first__small-gallery {
  max-width: 880px;
  width: 100%;
}

.collection-first__bg {
  max-width: 880px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.collection-first__bg h2 {
  padding-bottom: 22px;
  margin-bottom: 30px;
}

.collection-first__bg img {
  max-width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
}

.collection-first__bg-info {
  padding-bottom: 100px;
  position: absolute;
  text-align: center;
}

.collection-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.collection-second__bg {
  max-width: 1040px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-second__bg img {
  max-width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
}

.collection-second__descr {
  max-width: 880px;
  width: 100%;
  padding: 100px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-second__descr-title {
  font-weight: 400;
  margin-bottom: 40px;
}

.collection-second__descr-text {
  line-height: 150%;
  text-align: center;
  margin-bottom: 65px;
  max-width: 628px;
}

.collection-slider {
  height: -webkit-fill-available;
  overflow: hidden;
}

.gallery-watch {
  background-color: #000000;
  padding: 120px 0px 150px 0px;
}

.gallery-watch__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  margin-top: 80px;
}

.gallery-watch__aside {
  position: relative;
}

.gallery-watch__aside img {
  -webkit-filter: blur(2.5px);
          filter: blur(2.5px);
}

.gallery-watch__aside a {
  position: absolute;
  background: rgba(25, 27, 28, 0.5);
  letter-spacing: normal;
}

.articles {
  background-color: #0F0F0F;
  padding-top: 60px;
}

.articles__container {
  max-width: 1792px;
  padding: 0 15px;
  margin: 55px auto 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.articles__images {
  max-width: 989px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 53px;
}

.articles__box {
  max-width: 628px;
  width: 100%;
}

.articles__box-title {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.articles__box-title:hover {
  color: rgba(255, 255, 255, 0.3);
}

.articles__box-text {
  line-height: 150%;
  margin-bottom: 39px;
}

.articles__box-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.articles__box-tabs {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-left: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.articles__box-tab {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.articles__box-tab::before {
  content: "#";
}

.articles__box-tab:hover {
  color: rgba(255, 255, 255, 0.3);
}

.partners {
  background-color: #0F0F0F;
  padding: 90px 0px 100px 0px;
}

.partners__container {
  max-width: 1415px;
  margin: 0 auto;
  padding: 0 15px;
}

.partners__box {
  margin-top: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.partners__box img {
  max-width: 100%;
}

@media (max-width: 1600px) {
  .title {
    padding-bottom: 20px;
    font-size: 28px;
  }

  .watch__box-brand {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .watch__box-price {
    font-size: 14px;
  }

  .collection {
    padding: 30px 0;
  }

  .collection-first {
    margin-bottom: 30px;
  }

  .collection-first__watch h2 {
    margin-bottom: 20px;
  }

  .collection-first__watch {
    display: inline-block;
  }

  .collection-first__small-gallery {
    max-width: 350px;
  }

  .collection-second__descr {
    padding: 40px 30px;
  }

  .collection-second__descr-title {
    margin-bottom: 20px;
  }

  .collection-second__descr-text {
    margin-bottom: 40px;
    line-height: 120%;
  }

  .articles__images img {
    max-width: 100%;
  }

  .articles__holder {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }

  .articles__box {
    margin: 20px auto auto auto;
  }
}

@media (max-width: 1300px) {
  .collection-first__watch {
    padding: 10px 30px;
  }

  .collection-second__descr-text {
    font-size: 12px;
  }
}

@media (max-width: 1080px) {
  .title::after {
    width: 80px;
  }

  .title {
    font-size: 18px;
  }

  .watch__box-bg {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .watch__box-brand {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .footer__holder {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0px 40px 0px;
  }

  .footer__box-title {
    margin-bottom: 20px;
  }

  .footer__box-text {
    line-height: normal;
    font-size: 12px;
  }

  .footer__box:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 90%;
  }

  .footer__links {
    gap: 10px;
  }

  .collection-first__bg-info {
    padding-bottom: 50px;
  }

  .gallery-watch {
    padding: 30px 0px 100px 0px;
  }

  .gallery-watch__box {
    row-gap: 80px;
    margin-top: 40px;
  }

  .gallery-watch__btn {
    padding: 8px 22px;
    font-size: 14px;
  }

  .articles {
    padding: 30px 0;
  }

  .articles__container {
    margin-top: 30px;
  }

  .articles__images {
    max-width: 100%;
  }

  .articles__box-title {
    font-size: 16px;
  }

  .articles__box-text {
    line-height: 120%;
    margin-bottom: 20px;
  }

  .articles__box-tabs {
    font-size: 14px;
    letter-spacing: normal;
  }

  .partners {
    padding: 45px 0px 80px 0px;
  }
}

@media (max-width: 767px) {
  .watch__box-bg {
    min-height: 90%;
  }

  .watch__box-bg img {
    max-height: 264px;
  }

  .header-main-line {
    display: none;
  }

  .header-body__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header-body__menu {
    color: #ffffff;
  }

  .header-body__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    padding: 20px 30px;
    gap: 20px;
  }

  .header-body__item {
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #ffffff;
  }

  .header-body__icons {
    margin-right: 40px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .header-body__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }

  .header-body__menu._active {
    left: 0;
  }

  .header-body__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #0F0F0F;
    z-index: 2;
  }

  .header-body__items > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .header-body__items > li:last-child {
    margin-bottom: 0;
  }

  .main-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    font-size: 22px;
  }

  .main-mobile__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 30px;
    border: 1px solid #ffffff;
    padding: 20px 30px;
    font-size: 20px;
    background-color: #0F0F0F;
  }

  .main-mobile__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 30px;
    background-color: #0F0F0F;
  }

  .main-mobile__phone img {
    margin-right: 15px;
    width: 20px;
  }

  .main-mobile__phone:hover {
    text-decoration: underline;
  }

  .main-mobile__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 30px;
    background-color: #0F0F0F;
  }

  .main-mobile__control img {
    margin-right: 15px;
    width: 40px;
  }

  .main-mobile__control:hover {
    text-decoration: underline;
  }

  .footer__holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 2fr;
    grid-template-rows: 2fr;
    text-align: center;
  }

  .footer__box:first-child {
    grid-column: 1/2 span;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .footer__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__link {
    padding: 5px 10px;
  }

  .footer__form-email {
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  .footer__form-btn {
    padding: 5px 10px;
  }

  .picture {
    margin-top: 80px;
  }

  .shop__big-logo {
    padding: 84px 38px;
    margin-bottom: 40px;
  }

  .shop__descr {
    font-size: 14px;
  }

  .collection-first {
    display: block;
  }

  .collection-first__watch {
    margin-bottom: 80px;
  }

  .collection-second {
    display: block;
  }

  .collection-second__bg {
    display: none;
  }

  .collection-second__descr {
    padding: 0px 30px;
  }

  .gallery-watch__box {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  .articles__container {
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: none;
    grid-template-rows: none;
  }

  .partners__box {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
}

@media (max-width: 767px) and (max-width: 640px) {
  .main-mobile__info {
    font-size: 14px;
    padding: 10px 10px;
  }
}

@media (max-width: 640px) {
  .button {
    padding: 8px 22px;
    font-size: 14px;
  }

  .header-body__icons {
    margin-right: 15px;
  }

  .header-body__basket {
    margin-right: 10px;
  }

  .search.active {
    width: 145px;
  }

  .search .input {
    width: 130px;
  }

  .search .input input {
    padding: 10px 20px 10px 15px;
  }

  .footer__holder {
    padding: 20px 0px 20px 0px;
    gap: 15px;
  }

  .footer__box-title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .footer__box-text {
    font-size: 10px;
  }

  .footer__links {
    gap: 5px;
  }

  .footer__link {
    font-size: 12px;
  }
}

@media (any-hover: hover) {
  .watch__box-bg img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .collection-first__small-gallery img:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .gallery-watch__aside img:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}